.slide-container{
    margin-top: 4%;
    width: 100%;
    background: white;
}
.fls{
    display: flex;
    justify-content: center;
}
.each-fade {
    display: flex;
  }

.each-fade img{
    width: 100%;
    object-fit: contain;
  }
  