.Typewriter{
    margin-top: 12vh;
}
.Typewriter__wrapper{
    color: #31e3f0;
    font-weight: 800;
    margin-left: 10vw;
    font-size: 2.2rem;
}

.bg{
    height: 700px;
    width: 100%;
    background:url('../assets/images/slide1.jpg') no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    .layer{
        background-color: rgba(22, 2, 3, 0.349);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .head{
        font-family: 'Courier New', Courier, monospace;
        color: white;
        margin-top: 10vh;
        margin-left: 10vw;
    }
    .summ{
        font-family: 'Indie Flower';
        color: rgb(255, 255, 255);
        width:45%;
        font-size: 1.3rem;
        line-height: 1.5;
        font-weight: 500;
        margin: 30px 0 40px 150px;
        }
    .btn{
        background: linear-gradient(45deg, #14dddd 30%, #0669c5 90%);
        border: 0;
        margin-left: 160px;
        font-size: 15px;
        border-radius: 3px;
        box-shadow: 0 3px 5px 2px rgba(255, 105, 135, .3);
        color: white;
        height: 6vh;
        padding: 0 30px;
        font-weight: bolder;
    }
}
@media screen and (max-width: 1024px){
    .bg{
    .btn{
        margin-left: 140px;
    }
    .summ{
        width: 35%;
        margin: 30px 0 40px 130px;
    }
}
}
@media screen and (max-width: 768px){
    .Typewriter__wrapper{
        font-size: 2rem;
        margin-left: 8vh;
    }
    .bg{
    .summ{
        font-size: 1.2rem;
        width: 65%;
    }
}
}
@media screen and (max-width: 468px){
    .Typewriter__wrapper{
        font-size: 1rem;
        margin-left: 4vw;
    }
    .bg{
        background-attachment: scroll;
        .btn{
            height: 5vh;
            margin-left: 60px;
            width: 36%;
            font-size: 10px;
            font-weight: 600;
        }
        .summ{
            width: 75%;
            margin: 20px 0 30px 60px;
            font-size: 16px;
        }
        .head{
            font-size:24px;
            margin-top: 18vh;
        }
    }
}
